@media(max-width: 800px){
  .logoImg{
    width: 20px;
  }
  .textHeader{
    font-size: 12px;
  }

  .btn{
    font-size: 12px;
    padding-left: 0px;
  }

  .navHeader{
    padding: 0px 15px;
  }

  .navHeader2{
    padding: 0px 30px;
  }
  .navImg{
    width: 30px;
  }
}